.background {
  background-color: black;
  display: flex;
  align-items: center;
  height: 100vh;
}

.form-login {
  background-color: white;
  width: 20rem;
  padding: 2rem;
  margin: auto;
}

.form-login input {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  width: 14rem;
  height: 1.4rem;
  border-radius: 0.3rem;
  padding: 0.4rem;
}

.form-login h3 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  margin-top: 0.3rem;
}
.logo img {
  width: 40px;
  margin-top: 10px;
  cursor: pointer;
}
.link {
  margin: 0.8rem;
}
.link a {
  color: rgb(0, 38, 255);

  font-size: 17px;
}
.buttons button {
  height: 1.9rem;
  width: 6.8rem;
  cursor: pointer;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

button a {
  text-decoration: none;
}
.button {
  display: flex;
  margin: auto;
}
